mat-form-field {
  margin-right: 2rem;
}

.app_spinner {
  margin: 15rem auto;
}
.form-wrapper {
  margin: 4rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.publisher-detail__card {
  margin: 3rem;
  width: 35rem;
}
.publisher-detail__pic {
  width: 21px;
}
.publisher-detail__item {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.publisher-detail__item div {
  display: flex;
  align-items: center;
}
.publisher-detail__item div p {
  margin-left: .4rem;
}
.publisher-detail__item div span {
  transform: scaleX(1.3);
}
