<div class="publisher-detail__wrapper" *ngIf="userDetails | async">
  <mat-card class="publisher-detail__card">
    <mat-card-title>
      <i class="fa fa-plug" [ngStyle]="{color: changeColorByStatus()}" matTooltip="User Status"></i>
      <span matTooltip="Username">{{generalDetails.username}}</span>
      <span>&#9996;</span>
      <span matTooltip="User ID">{{generalDetails.id}}</span>
    </mat-card-title>
    <mat-card-content class="publisher-detail__item">
      <div matTooltip="Current Owner">
        <i class="fa fa-reddit-square"></i>
        <p>{{generalDetails.owner}}</p>
      </div>
      <div *ngIf="generalDetails.login_timestamp" matTooltip="Publisher Last Seen In Panel">
        <img class="publisher-detail__pic" src="../../../../assets/last-login.jpg" alt="lastSeenPic">
        <p>{{generalDetails.login_timestamp}}</p>
      </div>
      <div *ngIf="generalDetails.country && generalDetails.country !== '-1'" matTooltip="Last Check-In">
        <span class="flag-icon flag-icon-{{generalDetails.country | lowercase}}"></span>
        <p>{{generalDetails.country}}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="forms-wrapper">
    <mat-card [ngClass]="{'blur': spinner}">
      <mat-card-content>
        <div class="form-wrapper">
          <form [formGroup]="detailsForm" (ngSubmit)="saveUserDetails(detailsForm)">
            <h2>Publisher Settings</h2>
            <div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" formControlName='first_name' required>
                <mat-error>Need Provide First Name</mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" formControlName='last_name' required>
                <mat-error>Need Provide Last Name</mat-error>
              </mat-form-field>
              <button mat-raised-button type="button" (click)="openChangePasswordDialog()">Change User Password</button>
            </div>
            <div>
              <mat-form-field>
                <mat-label>User Type</mat-label>
                <mat-select formControlName="account_type" required>
                  <mat-option *ngFor="let userType of userTypes" [value]="userType.id">
                    {{userType.type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>User Status</mat-label>
                <mat-select formControlName="mode" required>
                  <mat-option *ngFor="let status of userStatus" [value]="status.id">
                    {{status.type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <input matInput type="number" min="-1" placeholder="Max Sites" formControlName='max_sites' required>
                <mat-error>Minimum Sites is -1(unlimited sites)</mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput type="number" min="-1" placeholder="Max Tags" formControlName='max_tags_per_site'
                       required>
                <mat-hint>max tags per site!</mat-hint>
                <mat-error>Minimum Tags is -1(unlimited tags)</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Outsource" formControlName='outsource'>
              </mat-form-field>
              <mat-slide-toggle #israeli
                                [checked]="detailsForm.value.israeli === 1"
                                (change)="onToggle(detailsForm.value, 'israeli', israeli.checked)">
                israeli
              </mat-slide-toggle>
            </div>
            <div class="form__slide-btn">
              <mat-slide-toggle #costExternal
                                [checked]="detailsForm.value.cost_by_external === 1"
                                (change)="onToggle(detailsForm.value, 'cost_by_external', costExternal.checked)">
                Is Cost External
              </mat-slide-toggle>
              <mat-hint *ngIf="costExternal.checked">Activated from: {{generalDetails.costExternalDate}}</mat-hint>
            </div>
            <br>
            <button mat-raised-button color="primary" type="submit" [disabled]="!detailsForm.valid">Update User</button>
            <button style="float: right" mat-raised-button color="warn" type="button" (click)="deleteUser()">Delete User</button>
          </form>
        </div>
      </mat-card-content>
      <div class="divide-line"></div>
      <mat-card-content>
        <div class="form-wrapper">
          <h2>Report columns</h2>
          <div>
            <mat-form-field>
              <mat-label>Monetization Type</mat-label>
              <mat-select (selectionChange)="onGetReportColumns($event.value)">
                <mat-option [value]="false">No Type Selected</mat-option>
                <mat-option *ngFor="let monetization of monetizations" [value]="monetization.id">
                  {{monetization.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <form class="reports-form" [formGroup]="reportColumnsForm" *ngIf="columnsReportObs | async" (ngSubmit)="saveReportColumn(reportColumnsForm)">
            <div>
              <mat-slide-toggle
                #cpm
                [checked]="reportColumnsForm.value.columns.cpm"
                (change)="onToggle(reportColumnsForm.value, 'cpm', cpm.checked)">
                CPM
              </mat-slide-toggle>
            </div>
            <div>
              <mat-slide-toggle
                #countries
                [checked]="reportColumnsForm.value.columns.country_code"
                (change)="onToggle(reportColumnsForm.value, 'country_code', countries.checked)">
                COUNTRIES
              </mat-slide-toggle>
            </div>
            <div>
              <mat-slide-toggle
                #impressions
                [checked]="reportColumnsForm.value.columns.impressions"
                (change)="onToggle(reportColumnsForm.value, 'impressions', impressions.checked)">
                IMPRESSIONS
              </mat-slide-toggle>
            </div>
            <div class="reports-form__input" *ngIf="impressions.checked">
              <mat-form-field class="example-full-width">
                <input matInput type="number" min="0" max="100" placeholder="Impressions"
                       formControlName='impressions_shaving_percent' required>
                <mat-hint>% Precenetage!</mat-hint>
                <mat-error>Number Range between 0 - 100 (%)</mat-error>
              </mat-form-field>
            </div>
            <br>
            <button mat-raised-button color="primary" type="submit" [disabled]="!reportColumnsForm.valid">Create Report</button>
          </form>
        </div>
      </mat-card-content>
      <div *ngIf="spinner" class="block-form">
        <mat-spinner [diameter]="30" class="form-spinner"></mat-spinner>
      </div>
    </mat-card>
  </div>
</div>
