.navbar {
  position: relative;
  padding: 0 40px;
  display: flex;
  align-items: flex-end;
  /* justify-content: space-evenly; */
  background: var(--secondery-color-main);
}
/* TITLE */
.navbar__title {
  margin-right: 50px;
  cursor: pointer;
  transition: .3s all;
}
.navbar__title:hover {
  color: var(--primary-color-sub)
}
.navbar__title-main {
  font-size: 2rem;
}

/* MENU */
.navbar__item {
  font-size: 1.1rem
}
.navbar__item:not(:last-child) {
  margin-right: 1.5rem;
}

/* SREACH */
.navbar__search {
  align-self: center;
  width: 30rem;
  position: relative;
  margin: 1rem 12rem;
}
.navbar__search--input {
  margin: 0 auto;
  font-size: 1.07rem;
  text-align: center;
  width: 85%;
  transition: .5s all;
}
.navbar__search--input:focus {
  width: 100%;
}
.navbar__search--result {
  width: 100%;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  bottom: -9.6rem;
  background-color: whitesmoke;
  animation: slideDown 1s both;
}
.navbar__search--result-item {
  padding: 1.1rem 0;
}
.navbar__search--result-item:hover {
  background-color: ghostwhite;
}
.navbar__search--result .navbar__search--result-item:nth-child(even) {
  background-color: var(--third-color-sub);
}
.navbar__search--result .navbar__search--result-item:nth-child(even):hover {
  background-color: var(--third-color-main);
}

@keyframes slideDown {
  0% {opacity: 0; bottom: 0}
  70% {opacity: 0}
  100% {bottom: -9.6rem}
}
