<nav class="navbar">
  <a class="navbar__title" [routerLink]="'welcome'">
    <h1 class="navbar__title-main">FO</h1>
    <h3 class="navbar__title-sub">Publisher</h3>
  </a>
  <div class="navbar__menu">
    <button class="navbar__item" mat-button [matMenuTriggerFor]="sites">Sites</button>
    <button class="navbar__item" mat-button [matMenuTriggerFor]="tags">Tags</button>
    <button class="navbar__item" mat-button [matMenuTriggerFor]="management">Management</button>

    <mat-menu #sites="matMenu">
      <!--<button mat-menu-item [routerLink]="['sites']">All Sites</button>-->
      <button mat-menu-item [routerLink]="['sites/123/new']">New Site</button>
      <button mat-menu-item [routerLink]="['sites/123/edit']">Site Configuration</button>
    </mat-menu>

    <mat-menu #tags="matMenu">
      <!--<button mat-menu-item [routerLink]="['tags']">All Tags</button>-->
      <button mat-menu-item [routerLink]="['tags', publisherId, siteId, 'new']">New Tag</button>
      <button mat-menu-item [routerLink]="['tags', publisherId, 'edit']">Tag Configuration</button>
    </mat-menu>

    <mat-menu #management="matMenu">
      <button mat-menu-item [routerLink]="['manage/my-area']">My Area</button>
      <button mat-menu-item [routerLink]="['manage/new']">New Publisher</button>
      <button mat-menu-item [routerLink]="['manage',publisherId,'edit']">Publisher Configuration</button>
    </mat-menu>
  </div>
  <div class="navbar__search">
      <input #search type="text" class="default-input navbar__search--input" placeholder="Search Publisher ...">
      <div class="navbar__search--result" *ngIf="isResults && publisherResult.length > 0">
        <ul>
          <li class="navbar__search--result-item" *ngFor="let publisher of publisherResult" (click)="onPublisherSelect(publisher)">
            <div *ngIf="publisherResult.length > 0; else no_results">
              <p>{{publisher.username}}</p>
              <span>{{publisher._id}}</span>
            </div>
          </li>
        </ul>
      </div>
    <div class="navbar__search--result no-results" *ngIf="isResults && publisherResult.length === 0">No results</div>
  </div>
  <img *ngIf="isLoading" src="../../../assets/search-loading.gif" alt="loading..." class="navbar__loading">
</nav>
