.navbar {
  position: relative;
  padding: 0 40px;
  display: flex;
  align-items: flex-end;
  color: white;
  box-shadow: 0px 8px 11px rgba(0,0,0, .3)
}
/* TITLE */
.navbar__title {
  margin-right: 50px;
  cursor: pointer;
  transition: .3s all;
}
.navbar__title:hover {
  color: var(--third-color-sub)
}
.navbar__title-main {
  font-size: 2rem;
}
.navbar__title-main > img {
  width: 28px;
}

/* MENU */
.navbar__item {
  font-size: 1.1rem
}
.navbar__item:not(:last-child) {
  margin-right: 1.5rem;
}

/* SREACH */
.navbar__search {
  align-self: center;
  text-align: center;
  width: 30rem;
  position: relative;
  margin-left: 16rem;
  color: black;
}
.navbar__search--input {
  background: var(--third-color-sub);
  margin: 0 auto;
  font-size: 1.07rem;
  text-align: center;
  width: 85%;
  transition: .5s all;
}
.navbar__search--input:focus {
  background: var(--third-color-main);
  box-shadow: 0 -6px 16px rgba(245,245,245, .4);
  transform: translateY(3px);
  width: 100%;
}
.navbar__loading {
  width: 2rem;
  align-self: center;
}
.navbar__search--result {
  width: 30rem;
  height: 300px;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 47px;
  background-color: whitesmoke;
  z-index: 100;
  -webkit-animation: slideDown 1s both;
  animation: slideDown 1s both;
}
.no-results {
  height: 30px;
  overflow: hidden;
}
.navbar__search--result-item {
  padding: 1.1rem 0;
}
.navbar__search--result-item:hover {
  background-color: ghostwhite;
}
.navbar__search--result .navbar__search--result-item:nth-child(even) {
  background-color: var(--third-color-sub);
}
.navbar__search--result .navbar__search--result-item:nth-child(even):hover {
  background-color: var(--third-color-main);
}
.navbar__profile {
  cursor: pointer;
  position: absolute;
  right: 23px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 40px;
  background-color: var(--primary-color-main);
  border: none;
}
.navbar__profile:focus {
  outline: none;
}
.navbar__profile--pic {
  width: 90%;
  border-radius: 100%;
  transition: .25s all;
}
.navbar__profile--pic:hover {
  width: 100%;
}
.navbar__profile--pic:active {
  width: 80%;
}

/*ANIMATION*/
@keyframes slideDown {
  0% {opacity: 0; bottom: 0}
  70% {opacity: 0}
  100% {bottom: -9.6rem}
}
