<nav class="navbar">
  <a class="navbar__title" [routerLink]="'welcome'">
    <h1 class="navbar__title-main">FO</h1>
    <h3 class="navbar__title-sub">Publisher</h3>
  </a>
  <div class="navbar__menu">
    <button class="navbar__item" mat-button [matMenuTriggerFor]="sites">Sites</button>
    <button class="navbar__item" mat-button [matMenuTriggerFor]="tags">Tags</button>
    <button class="navbar__item" mat-button [matMenuTriggerFor]="management">Management</button>

    <mat-menu #sites="matMenu">
      <button mat-menu-item [routerLink]="['/sites']">All Sites</button>
      <button mat-menu-item [routerLink]="['sites/new']">New Site</button>
      <button mat-menu-item [routerLink]="['sites/edit/123']">Exist Site</button>
    </mat-menu>

    <mat-menu #tags="matMenu">
      <button mat-menu-item>New Tag</button>
      <button mat-menu-item>Tag Configuration</button>
      <button mat-menu-item>All Tags</button>
    </mat-menu>

    <mat-menu #management="matMenu">
      <button mat-menu-item>My Area</button>
      <button mat-menu-item>New Publisher</button>
      <button mat-menu-item>Publisher Configuration</button>
    </mat-menu>
  </div>
  <div class="navbar__search">
      <input #search type="text" class="default-input navbar__search--input" placeholder="Search Publisher ..." (keyup)="onSearch(search.value)">
  </div>
</nav>
