mat-card {
  width: 50%;
}
mat-panel-description {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}
thead, tbody {
  display: flex;
  justify-content: space-between;
}
tbody {
  flex-direction: column;
}
tr {
  display: flex;
  justify-content: space-between;
}
