.tag__additional-row {
  width: 100%;
  display: flex;
  margin-right: 0;
  justify-content: space-between;
}
.btn__save {
  align-self: center;
}
.btn__save > span {
  color: red;
}
.tag__additional-row > i {
  cursor: pointer;
  color: red;
  transition: .4s all;
  font-size: 1.6rem;
  align-self: flex-end;
}
