<div class="default-no-choose-screen" *ngIf="!isValidPublisher">
  <h1>Search For Publisher  <i class="fa fa-user-secret"></i></h1>
</div>
<div *ngIf="isValidPublisher">
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="[id,link.link]"
       routerLinkActive #rla="routerLinkActive"
       [routerLinkActiveOptions]="{exact:true}"
       [(active)]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  <div *ngIf="isGeneralDetailsValid" class="general-wrapper">
    <mat-card class="publisher-detail__card">
      <mat-card-title>
        <i [ngStyle]="statusStyle" class="fa fa-plug" matTooltip="User Status"></i>
        <span matTooltip="Username">{{generalDetails.username}}</span>
        <span>&#9996;</span>
        <span matTooltip="User ID">{{generalDetails.id}}</span>
      </mat-card-title>
      <mat-card-content class="publisher-detail__item">
        <div matTooltip="Current Owner">
          <i class="fa fa-reddit-square"></i>
          <p>{{generalDetails.owner}}</p>
        </div>
        <div *ngIf="generalDetails.login_timestamp" matTooltip="Publisher Last Seen In Panel">
          <img class="publisher-detail__pic" src="../../../../assets/last-login.jpg" alt="lastSeenPic">
          <p>{{generalDetails.login_timestamp}}</p>
        </div>
        <div *ngIf="generalDetails.country && generalDetails.country !== '-1'" matTooltip="Last Check-In">
          <span class="flag-icon flag-icon-{{generalDetails.country | lowercase}}"></span>
          <p>{{generalDetails.country}}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <router-outlet></router-outlet>
  </div>
</div>
