.default-no-choose-screen {
  font-size: 1.4rem;
  margin: 10rem 0;
  /*text-align: center;*/
  display: flex;
  align-items: center;
}
.default-no-choose-screen h1 i {
  font-size: 4rem;
  color: var(--primary-color-main);
}
.fa-refresh {
  font-size: 1.8rem;
  color: var(--primary-color-main);
  position: absolute;
  right: 7rem;
  cursor: pointer;
  z-index: 1000;
}
.fa-refresh:hover {
  color: darkred;
}
.refresh {
  animation: rotate360 .8s;
}

@keyframes rotate360 {
  0% {transform: rotate(0)}
  100% {transform: rotate(360deg)}
}
