<div class="default-no-choose-screen" *ngIf="!isValidPublisher">
  <h1>Search For Publisher  <i class="fa fa-user-secret"></i></h1>
</div>
<div *ngIf="isValidPublisher">
  <mat-tab-group>
    <mat-tab label="Publisher Settings">
      <app-publisher-details *ngIf="userState | async" [userState]="userState"></app-publisher-details>
    </mat-tab>
    <mat-tab label="Payment Settings">
      <app-payment-details *ngIf="userState | async" [userState]="userState"></app-payment-details>
    </mat-tab>
    <mat-tab label="Ownership History">
      <app-publisher-ownership-history *ngIf="userState | async" [userState]="userState"></app-publisher-ownership-history>
    </mat-tab>
    <mat-tab label="Sites & Tags">
      <app-publisher-sites-tags *ngIf="(userState | async) && verticals.length > 0" [userState]="userState" [verticals]="verticals"></app-publisher-sites-tags>
    </mat-tab>
  </mat-tab-group>
</div>
