<div *ngIf="!isValidPublisher">
  <h1>No Publisher Selected</h1>
  <h2>Selected Publisher!</h2>
</div>
<div *ngIf="isValidPublisher">
  <mat-tab-group>
    <mat-tab label="Publisher Details">
      <app-publisher-details [publisherDetails]="publisherDetails"></app-publisher-details>
    </mat-tab>
    <mat-tab label="Payment Details">
      <app-payment-details></app-payment-details>
    </mat-tab>
    <mat-tab label="Ownership History">
    </mat-tab>
    <mat-tab label="Sites & Tags">
    </mat-tab>
  </mat-tab-group>
</div>
