/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "./assets/icons/line-awesome.min.css";*/
:root {
  /* COLORS */
  --primary-color-main: #3f51b5;
  --primary-color-sub: #566270;
  --secondery-color-main: #E0E3DA;
  --secondery-color-sub: #FFFFF3;
  --third-color-main: #fdfdfd;
  --third-color-sub: #e3dede;
}

*,
*:active,
*:visited {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'PT Sans', sans-serif;
  color: currentColor;
  font-size: 16px;
}
html {
  background: #fdfdfd;
}

.mat-card {
  background: var(--third-color-main);
}
/*SPINNERS*/
.app_spinner {
  margin: 15rem auto;
}
.form-spinner {
  position: absolute !important;
  top: 50%;
  right: 50%;
  transform: translate(-50%,-50%);
}
.block-form {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* INPUTS DESIGN */
.default-input {
  border: none;
  border-radius: 7px;
}
.default-input:focus {
  outline: none;
  box-shadow: 0px 0px 2px var(--primary-color-sub);
}

/*BUTTONS*/
.mat-raised-button.mat-primary {
  color: white;
}

/*SEPARETE LINE*/
.divide-line {
  background: var(--secondery-color-main) !important;
  width: .07rem;
  margin: 2.3rem;
}

/*BLUR WHILE CHECKING AND SENDING DATA*/
.blur {
  filter: blur(0px);
  animation: blurAnimation .5s alternate;
}

/*NOTIFICATION MESSAGES*/
.mat-snack-bar-container {
  margin: 80px 34px !important;
}

.mat-simple-snackbar span {
  color: var(--third-color-sub);
  font-size: 24px;
}
.success {
  background: #04a84f;
}
.failed {
  background: #cd3301;
}

/*GENERAL ANIMATION*/
@keyframes fadeIn {
  0%   {opacity: 0}
  100% {opacity: 100%}
}

@keyframes blurAnimation {
  0%   {filter: blur(0)}
  100% {filter: blur(5px)}
}
