/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
:root {
  --primary-color-main: #A593E0;
  --primary-color-sub: #566270;
  --secondery-color-main: #E0E3DA;
  --secondery-color-sub: #FFFFF3;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'PT Sans', sans-serif;
}
