<div *ngIf="tagForm">
  <!--{{tag | json}}-->
  <div class="tag__form--wrapper" [ngStyle]="{'background': currentLayerOption.color}">
    <form [formGroup]="tagForm" (ngSubmit)="tagService.onSaveTag(tagForm.value, currentLayerOption)">
      <div class="tag__inputs-row">
        <mat-form-field>
          <input
            type="text" placeholder="Tag name" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-select #showParentTag placeholder="Activity" formControlName="activity">
            <mat-option *ngFor="let activity of activitySelection" [value]="activity.id">
              {{activity.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Enchantment In S2S" formControlName="s2s_without_enchantment">
            <mat-option *ngFor="let option of selectOptions" [value]="option.boolean">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Storage Mode" formControlName="storageMode">
            <mat-option *ngFor="let mode of storageModeSelection" [value]="mode.id">
              {{mode.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Serving Method" formControlName="serving_method_id">
            <mat-option *ngFor="let method of servingMethodsSelection" [value]="method.id">
              {{method.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Show Parent Tag" formControlName="show_parent_tag">
            <mat-option *ngFor="let option of selectOptions" [value]="option.boolean">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input type="number" placeholder="Parent Tag ID" matInput formControlName="parent_tag">
        </mat-form-field>
      </div>
      <div class="tag__inputs-row">
        <mat-form-field>
          <mat-select placeholder="Work Hours" formControlName="work_hours" multiple>
            <mat-option *ngFor="let hour of workHoursSelection" [value]="hour.id">
              {{hour.hour}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="BLOCK JAVASCRIPT" formControlName="block">
            <mat-option *ngFor="let option of selectOptions" [value]="option.boolean">
              {{option.name == 'Enable' ? 'Block' : 'Unblock'}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="AdBlock Traffic" formControlName="adblock_traffic_only">
            <mat-option *ngFor="let option of adblockTrafficSelection" [value]="option.id">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Show In Self Service" formControlName="show_in_ss">
            <mat-option *ngFor="let option of selectOptions" [value]="option.boolean">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="tag__inputs-row">
        <mat-form-field>
          <input type="number" min="0" max="100" placeholder="Cpa Minimum Winning Percent" matInput
                 formControlName="cpa_minimum_winning_percent">
        </mat-form-field>
        <mat-form-field>
          <input type="number" min="1" placeholder="Cap" matInput formControlName="cap">
        </mat-form-field>
        <mat-form-field>
          <input type="number" min="1" placeholder="Cap Per Page" matInput formControlName="cap_per_url">
        </mat-form-field>
        <div class="input_select--fields">
          <mat-form-field>
            <input type="number" min="1" placeholder="Cap Interval" matInput formControlName="interval">
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="interval_TimeUnit">
              <mat-option *ngFor="let unit of timeUnitsSelection | slice:1" [value]="unit.id">
                {{unit.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input_select--fields">
          <mat-form-field>
            <input type="number" min="1" placeholder="Cap Reset Frequency" matInput formControlName="cap_reset_seconds">
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="cap_reset_seconds_TimeUnit">
              <mat-option *ngFor="let unit of timeUnitsSelection | slice:1" [value]="unit.id">
                {{unit.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-select placeholder="Cap Type" formControlName="cap_type">
            <mat-option *ngFor="let option of capTypeSelection" [value]="option.id">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="tag__inputs-row">
        <div><app-additional-tag-search
                                        [currentAdditionalTags]="tagForm.value.additional_tags_generator"
                                        (presentAdditionalTag)="tagForm.value.additional_tags = $event"></app-additional-tag-search></div>
        <!--<mat-card class="tag__additional-tag">-->
          <!--<mat-card-title>Additional Tags</mat-card-title>-->
          <!--<app-additional-tag-search (tagChosen)="addNewAdditionalTag($event)"></app-additional-tag-search>-->
          <!--<mat-card-content>-->
            <!--<mat-list>-->
              <!--<mat-list-item *ngFor="let tag of additionalTags; let i = index">-->
                <!--<div class="tag__additional-btn">-->
                  <!--{{tag.id}}-->
                  <!--<mat-slide-toggle checked="{{tag.boolean}}" (change)="tag.boolean = $event.checked"></mat-slide-toggle>-->
                  <!--<i class="fa fa-trash" (click)="onDelete(additionalTags, i)"></i>-->
                <!--</div>-->
                <!--<mat-divider></mat-divider>-->
              <!--</mat-list-item>-->
            <!--</mat-list>-->
          <!--</mat-card-content>-->
        <!--</mat-card>-->
      </div>
      <button mat-button>Save Basic Configuration Tag</button>
    </form>
  </div>
</div>
