.general-wrapper {
  display: flex;
}
.mat-card {
  margin-right: 3rem;
  height: fit-content;
  width: -webkit-fill-available;
}
/*.mat-card:last-child {*/
  /*flex-grow: 50;*/
/*}*/
/*.no-history {*/
  /*flex-grow: 0;*/
/*}*/
.mat-card h2{
  margin-bottom: 2rem;
}
.block-form {
  position: static;
}
form {
  padding: 2rem;
}
form div .mat-form-field {
  margin: 0 2rem;
  width: 17rem;
}
form button {
  margin-top: 2rem;
}
.divide-line {
  width: 90%;
  height: .1rem;
  margin: 1rem auto;
}
.comments-textarea {
  width: 91% !important;
}
.payment-history__details div {
  margin: .6rem 0
}
.payment-history__details .payment-history__general {
  font-size: 1rem;
}
.payment-history__details .payment-history__description {
  font-size: .9rem;
}
