<!--98819 id for checking errors! -->
<div class="general-wrapper" *ngIf="isPaymentsExist">
  <mat-card *ngIf="paymentmethodsForm; else noPaymentMethod" class="form-wrapper" [ngClass]="{'blur': spinner}">
    <h2>Payments Methods</h2>
    <form [formGroup]="paymentmethodsForm" (ngSubmit)="onUpdatePaymentMethod(paymentmethodsForm)">
      <div>
        <mat-form-field>
          <mat-label>Payment Options</mat-label>
          <mat-select formControlName='payment_method'>
            <mat-option *ngFor="let method of paymentsMethodOption | slice: 0:isVirtualCoinsAllowed" [value]="method.id">
              {{method.type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Period Options</mat-label>
          <mat-select formControlName='payment_period'>
            <mat-option *ngFor="let type of paymentPeriodOption" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="divide-line"></div>
      <div *ngIf="paymentmethodsForm.value.payment_method !== 2">
        <mat-form-field>
          <input matInput type="email" formControlName='payment_email' placeholder="Email For Payment" email>
        </mat-form-field>
      </div>
      <div *ngIf="paymentmethodsForm.value.payment_method === 2">
        <div class="field">
          <mat-form-field>
            <input matInput type="text" formControlName='beneficiary_name' placeholder="Beneficiary Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" formControlName='beneficiary_address' placeholder="Beneficiary Address">
          </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field>
            <input matInput type="text" formControlName='bank_name' placeholder="Bank Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" formControlName='bank_address' placeholder="Bank Address">
          </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field>
            <input matInput type="text" formControlName='swift_code' placeholder="Swift Code">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" formControlName='iban_number' placeholder="IBAN Number">
          </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field>
            <input matInput type="text" formControlName='account_number' placeholder="Account Number">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="comments-textarea">
            <textarea matInput #comment formControlName="comment" matTextareaAutosize="true" maxlength="256" placeholder="Leave a comment"></textarea>
            <mat-hint align="end">{{comment.value?.length || 0}}/256</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button type="submit" color="primary">Update Payment Method</button>
    </form>
    <div *ngIf="spinner" class="block-form">
      <mat-spinner [diameter]="30" class="form-spinner"></mat-spinner>
    </div>
  </mat-card>
  <ng-template #noPaymentMethod>
    <mat-card class="no-content fix-no-content">
      <h2>No Payment Method Available</h2> <i class="fa fa-money"></i>
    </mat-card>
  </ng-template>
  <mat-card *ngIf="paymentsHistory.length > 0; else noHistory">
    <h2>Payments History</h2>
    <pagination-controls *ngIf="paymentsHistory.length > 10" (pageChange)="page = $event"></pagination-controls>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let payment of (paymentsHistory | sortBy :'changed_date') | paginate: { itemsPerPage: 10, currentPage: page }">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{payment.changed_date | date:"MM/dd/yyyy"}}
          </mat-panel-title>
          <mat-panel-description>
            {{paymentsMethodArray[payment.payment_method] || 'No Method Chosen!'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="payment-history__details">
          <div class="payment-history__general">
            <p><strong>Changed in: </strong>{{payment.changed_date | date: "h:mma"}}</p>
            <p><strong>Payment Period:</strong> {{payment.payment_period}}</p>
          </div>
          <div class="payment-history__description">
            <ul *ngIf="payment.payment_method === 2; else showOnlyEmail">
              <h3>Details</h3>
              <li><strong>Beneficiary Name:</strong> {{payment.beneficiary_name}}</li>
              <li><strong>Beneficiary Address:</strong> {{payment.beneficiary_address}}</li>
              <li><strong>Swift Code:</strong> {{payment.swift_code}}</li>
              <li><strong>IBAN Number:</strong> {{payment.iban_number}}</li>
              <li><strong>Account Number:</strong> {{payment.account_number}}</li>
            </ul>
            <ng-template #showOnlyEmail>
              <div><strong>Email: </strong> {{payment.payment_email}}</div>
            </ng-template>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
  <ng-template #noHistory>
    <mat-card class="no-content fix-no-content">
      <h2>No History Available</h2> <i class="fa fa-history"></i>
    </mat-card>
  </ng-template>
</div>
