<div class="tag-search">
<mat-form-field class="tag-search__field">
    <mat-label>Search Tag</mat-label>
    <input
           #query
           type="search"
           placeholder="ID / Name / Site name"
           matInput
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let tag of tagsSearch" (click)="onSelectTag(tag.id)">
        <div *ngIf="hasTagsResults; else noTagsResults">
        <span class="label__search" [ngStyle]="{'background-color': onPaintLabel(tag.operation_id), 'color': 'white'}">{{operationTypes[tag.operation_id].name}}</span>
        <span>{{tag.name}} - {{tag.id}} | </span>
        <small>{{tag.site_name}}</small>
      </div>
      <ng-template #noTagsResults> No Results</ng-template>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <i [ngClass]="{'search-rotate': searchingTags}" class="fa fa-search"></i>
</div>
<hr class="sparede-line">
<div *ngIf="!loading; else isLoading">
  <div *ngIf="hasTag; else noTag">
    <mat-tab-group>
      <mat-tab class="basic-conf" label="basic Configuration">
        <div class="general-details">
          <mat-card>
            <mat-card-title class="tag__general-title">
              <span>Tag General Details</span>
              <mat-card [ngStyle]="{'background-color': onPaintLabel(tagGeneralDetails.operation_id), 'color': 'white'}">{{tagGeneralDetails.type}}</mat-card>
            </mat-card-title>
            <div class="tag__general-details">
              <p><b>ID:</b> {{tagGeneralDetails.id}}</p>
              <p><b>Creation Date:</b> {{tagGeneralDetails.created_on | date}}</p>
              <p><b>Last Updated:</b> {{(tagGeneralDetails.last_update != null) ? (tagGeneralDetails.last_update | date) : 'Never Updated'}}</p>
            </div>
          </mat-card>
          <mat-card *ngIf="!tagGeneralDetails.noPublisher">
            <mat-card-title>Publisher General Details</mat-card-title>
            <div class="tag__general-details">
              <p><b>Publisher ID:</b> {{tagGeneralDetails.publisher_id}}</p>
              <p><b>Site Id:</b> {{tagGeneralDetails.site_id}}</p>
              <p><b>Site Name:</b> {{tagGeneralDetails.site_name}}</p>
              <p><b>Owner:</b> {{tagGeneralDetails.owner}}</p>
            </div>
          </mat-card>
        </div>
        <div class="btns__mode">
          <button (click)="onSelectLayer(layerSelected.publisher)" mat-raised-button color="primary" [disabled]="layerSelected.publisher.enable">Publisher Layer</button>
          <button (click)="onSelectLayer(layerSelected.admin)" mat-raised-button color="accent" [disabled]="layerSelected.admin.enable">Admin Layer</button>
          <button class="layer__btn os__btn" (click)="onSelectLayer(layerSelected.os)" mat-raised-button [disabled]="layerSelected.os.enable">OS Layer</button>
          <button class="layer__btn os__btn" (click)="onSelectLayer(layerSelected.browser)" mat-raised-button [disabled]="layerSelected.browser.enable">BROWSER Layer</button>
        </div>
        <div *ngIf="attributeSelection" class="advanced-layer">
          <h3>Choose {{attributeItem}}</h3>
          <mat-form-field>
            <mat-select multiple>
              <mat-option *ngFor="let attribute of attributeSelection.options" [value]="attribute.key">
                {{attribute.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--<div *ngFor="item in itemsSelection">-->

          <!--</div>-->
        </div>
        <router-outlet></router-outlet>
      </mat-tab>
      <mat-tab label="Advanced Configuration">
        <h1>ADVANCED CONFIGURATION</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab label="Piggy Bank">
        <h1>PIGGY BANK</h1>
        <p>...</p>
      </mat-tab>
    </mat-tab-group>
  </div>
  <ng-template #noTag>
    <h1>Search for Some Tag <i class="fa fa-tag"></i></h1>
  </ng-template>
</div>
<ng-template #isLoading>
    <mat-spinner class="app_spinner" [diameter]="38"></mat-spinner>
</ng-template>
