.tag-search {
  display: flex;
  align-items: center;
  width: 600px !important;
}
.tag-search__field {
  width: 100%;
}
.search-rotate {
  animation: rotate360 2s infinite;
}
hr.sparede-line {
  border-top: 1px dotted var(--primary-color-main);
}
h1 i.fa {
  color: var(--primary-color-main);
}
.general-details {
  display: flex;
}
.general-details > *:not(:last-child) {
  margin-right: 4rem;
}
mat-card {
  width: fit-content;
  margin: 2rem 0;
}
.tag__general-details {
  display: flex;
}
.tag__general-details p:not(:last-child) {
  margin-right: 2rem
}
.tag__general-title {
  display: flex;
}

.tag__general-title mat-card {
  margin: 0;
  font-size: 1rem;
  padding: 9px;
  transform: translateX(20px);
}
.btns__mode {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}
.btns__mode button:not(:last-child) {
  margin-right: .7rem;
}
@keyframes rotate360 {
  0% {transform: rotate(0)}
  40% {transform: rotate(360deg)}
  50% {transform: scale(1.7)}
  100% {transform: rotate(0) scale(1)}
}
