.tag-search {
  width: 600px !important;
}
.tag-search__field {
  width: 100%;
}
hr.sparede-line {
  border-top: 1px dotted var(--primary-color-main);
  margin-bottom: 3rem;
}
h1 i.fa {
  color: var(--primary-color-main);
}
